<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Conductor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Buscar Conductor</h1>
        <!-- Formulario de búsqueda -->
        <form method="GET" action="{% url 'buscar_conductor' %}">
            <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar por nombre" value="{{ query|default:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <!-- Mostrar los resultados de la búsqueda -->
        {% if conductores %}
            <form method="POST" action="{% url 'buscar_conductor' %}">
                {% csrf_token %}
                <div class="form-group mt-4">
                    {% for conductor in conductores %}
                        <div class="radio-option">
                            <label>
                                <input type="radio" name="conductor_id" value="{{ conductor.id }}">
                                <span>{{ conductor.rut }} - {{ conductor.nombre }} {{ conductor.apellido }}</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-success">Seleccionar Conductor</button>
            </form>
        {% else %}
            <p>No se encontraron conductores.</p>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
